<h1>Listing teches</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Pdf file name</th>
    <th>Tech</th>
    <th>Lo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teches.each do |tech| %>
  <tr>
    <td><%= tech.name %></td>
    <td><%= tech.description %></td>
    <td><%= tech.pdf_file_name %></td>
    <td><%= tech.tech_id %></td>
    <td><%= tech.LO %></td>
    <td><%= link_to 'Show', tech %></td>
    <td><%= link_to 'Edit', edit_tech_path(tech) %></td>
    <td><%= link_to 'Destroy', tech, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tech', new_tech_path %>
