<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @tech.name %>
</p>

<p>
  <b>Description:</b>
  <%= @tech.description %>
</p>

<p>
  <b>Pdf file name:</b>
  <%= @tech.pdf_file_name %>
</p>

<p>
  <b>Tech:</b>
  <%= @tech.tech_id %>
</p>

<p>
  <b>Lo:</b>
  <%= @tech.LO %>
</p>


<%= link_to 'Edit', edit_tech_path(@tech) %> |
<%= link_to 'Back', teches_path %>
